<!DOCTYPE html>
<html>
  <head>
    <title>Enter API key</title>
    <script src='script.js'></script>
  </head>
  <body>
    <main>
      <h2>You need to authenticate yourself if you want to delete posts.</h2>
      <input type='password' class='pass' id='delApi' placeholder="Enter key here"></input><br />
      <button id='send' onclick='confirmKey()'>Confirm</button><br /><br />
      <button onclick='location.href="/blog.html"'>Back</button>
    </main>
    <script>
      function confirmKey() {
        var x = parseInt(localStorage.getItem('postIndex'));
        delKey = document.getElementById('delApi').value;
        cookies.set('delKey', delKey)
        location.href = '/confirm'
      }
    </script>
  </body>
</html>