<!DOCTYPE html>
<html>
  <head>
    <title>Enter the API key</title>
    <script src='sidebar.js'></script>
  </head>
  <body>
    <main>
      <h2>Enter the API key to continue</h2>
      <input type='password' id='pass' placeholder="Enter API key here"></input><br />
      <button id='send' onclick='confirmPass();'>Confirm</button>
      <button onclick='location.href="/blog"'>Back</button>
    </main>
    <script>
      function confirmPass() {
        apiPass = document.getElementById('pass').value;
        location.href = `/compose?api_key=${apiPass}`
      }           
    </script>
  </body>
</html>