<!DOCTYPE html>
<html>
  <head>
    <title>Enter API key</title>
    <script src='script.js'></script>
  </head>
  <body>
    <main>
      <h2>Enter the post API key to continue</h2>
      <input type='password' class='pass' id='postApi' placeholder="Enter API key here"></input><br />
      <button id='send' onclick='confirmPass();'>Confirm</button><br /><br />
      <button onclick='location.href="/blog.html"'>Back</button>
    </main>
    <script>
      function confirmPass() {
        apiPass = document.getElementById('postApi').value;
        cookies.set('inputKey', apiPass)
        location.href="/compose"
      }           
    </script>
  </body>
</html>