<!--<form method='POST'>
    <span style='color: red;'>*</span><span>Message: </span><br />
      <input name='text'><br />
        <span>Name: </span><br />
          <input name='name'>
            <br />
              <input type='submit'>
</form>-->

<input id='title' placeholder='Give your shits a title'></input><br />
<textarea id='content' placeholder='c o m p o s e'></textarea><br />
<button id='send' onclick='send();'>Send</button>

<script>
  function send () {
    title = document.getElementById('title').value;
    content = document.getElementById('content').value;
    location.href = `/post?title=${title}&content=${content}&api_key={{ message }}`
  }
</script>
