<input id='title' placeholder='Give your shits a title'></input><br />
<textarea class='input' id='content' placeholder='c o m p o s e'></textarea><br />
<input id='author' placeholder='Your Name'></input><br />
<button id='send' onclick='send();'>Send</button>

<script>
  function send () {
    title = document.getElementById('title').value;
    content = document.getElementById('content').value;
    author = document.getElementById('author').value;
    location.href = `/post?title=${title}&content=${content}&author=${author}&api_key={{ message }}`
  }
</script>
