<!DOCTYPE html>
<html>
  <head>
    <title>Confirm deletion</title>
    <script src='script.js'></script>
  </head>
  <body>
    <main>
      <h2>Do you really want to delete this post?</h2>
      <h3 id='postName'></h3>
      <input class='input' id='name' placeholder="Enter the post's name to delete it">
      <button id='disabled' class='disabled confirm'>Yes</button>
      <button class='confirm' onclick="location.href = '/blog.html'">No</button><br />
      <button onclick="rmvDisable()">Check</button>
      <p id='error'></p>
    </main>
    <script>
      fetch('/posts.json')
      .then(res => res.json())
      .then((posts) => {
        var x = parseInt(localStorage.getItem('postIndex'));
        console.log(x)
        document.getElementById('postName').innerHTML = `"${posts[x].title}"`
        localStorage.setItem('postTitle', posts[x].title)
      });

    </script>
  </body>
</html>